.header {
  background-color: $theme;
  margin-bottom: 50px;
  .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      i {
        color: white;
        font-size: 40px;
      }
      span {
        color: white;
        padding-left: 15px;
        font-size: 30px;
        position: relative;
        top: -4px;
      }
      &:nth-child(2) {
        width: 50%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
        a {
          color: white;
        }
      }
      input {
        padding: 7px 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        color: $black;
        font-weight: 600;
        max-width: none;
        &::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7);
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }
}
