.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 213px;
    height: 100%;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .videoBlock__views {
    margin-bottom: 10px;
  }
}
