.videoPlayer {
  position: relative;
  max-width: 850px;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.2s linear;
    color: white;
    position: absolute;
    bottom: 3px;
    z-index: 9;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      font-size: 14px;
      .videoPlayer__volume {
        position: absolute;
        padding: 0;
        opacity: 1;
        top: -50px;
        left: -18px;
        transform: rotate(-90deg);
        width: 80px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
      }
      input {
        background-color: rgba(0, 0, 0, 0.5);
        &::-webkit-slider-runnable-track {
          background-color: $grey;
          height: 5px;
          border-radius: 20px;
        }
        &::-webkit-slider-thumb {
          all: unset;
          background-color: $theme;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          position: relative;
          top: -5px;
        }
      }
      .videoPlayer__time {
        padding: 0 5px;
        span:nth-child(2) {
          margin: 0 5px;
        }
      }
    }
  }
}
.videoPlayer__column:nth-child(2) {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  span:nth-child(2) {
    margin: 0 10px;
  }
  i {
    font-size: 20px;
  }
}
.videoPlayer__column:nth-child(3) {
  max-width: 100%;
  width: 100%;
  margin: 0 20px 0 5px;
  progress {
    width: 100%;
  }
}
.videoPlayer__column:last-child {
  justify-self: flex-end;
}
i {
  font-size: 25px;
  cursor: pointer;
}
