.social-login
    button.social-login--github
        a(href=routes.gitHub)
            i.fab.fa-github
            span Continue with Github
    button.social-login--line
        a(href=routes.line)
            i.fab.fa-line
            span Continue with LINE
    button.social-login--kakaotalk
        a(href=routes.kakaotalk)
            i.fab.fa-kickstarter
            span Continue with KakaoTalk