.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid #e0e0e0 2px;
    button {
      width: 50px;
      margin-bottom: 25px;
    }
    .video__uploader {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 600;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    max-width: 850px;
    width: 100%;
    .video__comment-number {
      display: flex;
      align-self: flex-start;
      font-size: 18px;
      .comment-number-text {
        margin-left: 5px;
      }
    }
    .video__write-comment {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      align-items: center;
      .user-avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .add__comment {
        display: flex;
        align-self: flex-start;
        width: 100%;
        input {
          max-width: 790px;
          width: 100%;
          background: none;
          outline: none;
          margin-left: 20px;
          box-shadow: none;
          border-radius: 0;
          border-bottom: solid #e0e0e0 1px;
          &:focus {
            border-bottom: solid #909090 1px;
          }
          &::placeholder {
            color: #909090;
          }
        }
      }
    }
    .video__comments-list {
      margin-top: 50px;

      li.comments {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
        animation: showComment 0.7s ease-out forwards;
        @keyframes showComment {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
        // &:not(last-child) {
        //   border-bottom: solid #e0e0e0 1px;
        // }

        .comments__left-column {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 80px;
          width: 100%;
          .comments__userAvatar {
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }
        .comments__right-column {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 15px;
          .comments__userName {
            display: flex;
            align-self: flex-start;
            margin: 10px 0 2px 10px;
            opacity: 0.8;
            font-size: 12px;
          }
          .comments__text-box {
            display: flex;
            flex-direction: row;

            span {
              color: #030303;
              font-weight: 500;
              background-color: white;
              padding: 12px 30px;
              border-radius: 20px;
              border-bottom-left-radius: 0px;
              box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.5);
            }
            .comments__icon {
              padding: 0;
              border: none;
              box-shadow: none;
              height: 20px;
              width: 20px;
              margin-left: 20px;
              display: flex;
              align-items: center;
              button.jsDelBtn {
                background-color: transparent;
                color: #e0e0e0;
                box-shadow: none;
                padding: 0px;
                font-size: 18px;
                margin-top: 15px;
                &:hover {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }
  }
}
